@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic");

@font-face {
  font-family: 'atwriter';
  src: url('../assets/font/another-typewriter/atwriter.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: TypeWriterCondensed;
  src: url("../assets/font/typewriter-condensed/typewcond_regular.otf") format("opentype");
}

@font-face {
  font-family: TypeWriterCondensed;
  font-weight: bold;
  src: url("../assets/font/typewriter-condensed/typewcond_bold.otf") format("opentype");
}

@font-face {
  font-family: TypeWriterCondensed;
  font-weight: 600;
  src: url("../assets/font/typewriter-condensed/typewcond_demi.otf") format("opentype");
}

@font-face {
  font-family: 'SpecialElite';
  src: url('../assets/font/special_elite/SpecialElite-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/* Global styles */

/*
.window-app {
  font-family: "TypeWriterCondensed", "atwriter", "Martel", 'Signika', sans-serif !important;
  height: auto;
}
*/

/*
section.window-content{
  background: url("../assets/img/old_paper.jpg") !important;
}
*/

.old-paper-background{
  background: url("../assets/img/old_paper.jpg") !important;
}
.default-parchment-background{
  background: url("/ui/parchment.jpg") repeat !important;
}

.typewriter-condensed-font{
  font-family: "TypeWriterCondensed", sans-serif !important;
}

.martel-font{
  font-family: "Martel", sans-serif !important;
}

.signika-font{
  font-family: "Signika", sans-serif !important;
}

.atwriter-font{
  font-family: "atwriter", sans-serif !important;
}

.special-elite-font{
  font-family: "SpecialElite", sans-serif !important;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.not-rollable{
  color: #999999;
}

.dg-red{
  color:rgb(117, 0, 0);
}

.grid-1col{
  display: grid;
  grid-column: span 1 / span 1;
  gap: 3px;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 3px;
  margin: 0px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 2px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.horizontal-flex-column{
  display: flex;
  flex-direction: column;
}

.flex-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.deltagreen .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 400px;
  flex: 0 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.deltagreen .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 5px;
}

.profile-img{
  margin-bottom: 5px;
}

.deltagreen .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.deltagreen .sheet-header h1.charname {
  height: 55px;
  padding: 0px;
  border-bottom: 0;
}

.deltagreen .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.deltagreen .sheet-body,
.deltagreen .sheet-body .tab,
.deltagreen .sheet-body .tab .editor {
  height: 100%;
  flex: auto;
}

.deltagreen .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.sheet nav.sheet-tabs{
  border-bottom: transparent !important;
  border-top: transparent !important;
}

.deltagreen .tabs {
  height: auto;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.deltagreen .tabs .item {
  font-weight: bold;
  vertical-align: middle !important;
  line-height: inherit;
  padding: 5px 10px 0px 10px;
  border-radius: 5px 5px 0px 0px;
  border-color: #000;
  border: gray;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  background: rgba(173, 151, 101, 0.3);
}

.deltagreen .tabs .item.active {
  text-shadow: none;
  font-style: italic;
  border: #000;
  border-width: 2px 2px 0px 2px;
  border-style: solid;
}

.deltagreen .items-list {
  list-style: none;
  /*margin: 7px 0; */
  padding: 0;
  overflow-y: auto;
}

.deltagreen .items-list .item-header {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deltagreen .items-list .item {
  min-height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.deltagreen .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.deltagreen .items-list .item .item-icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-left: 6px;
  
}

.deltagreen .items-list .item img {
  display: block;
}

.deltagreen .items-list .item-name {
  margin: 0;
  display: flex;
  align-content: center;
}

.deltagreen .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}

a.btn-tiny{
  height: 26px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 13px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 5px;
  padding-left: 5px;
  
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  
  border-radius: 4px;
  line-height: 25px;
  border: 1px solid #333333;
  min-width: 20px;
  text-align: center;
}

span.left-aligned-label{
  justify-content: left;
  margin-left: 5px;
}

span.max-attribute-value-label{
  border: 1px solid rgb(122, 121, 113);
  border-radius: 3px;
  padding-top: 3px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  height: 26px;
}

.deltagreen .skill-label{
  margin: 2px;
  align-content: flex-start;
}

.deltagreen .skill-type-label{
  margin: 2px;
}

.typed-skill-flexrow{
  display: flex;
  flex-direction: row;
  margin: 1px;
}

input.percentile-skill-input{
  flex: 0 0 40px;
  margin-right: 5px;
  margin-left: 5px;
}

input.checkbox-skill-input{
  /*flex: 0 0 10px;*/
  width: 15px;
  height: 15px;
}

.deltagreen .sheet-header h2.profession{
  border-bottom: 0px;
  margin-top: 5px;
  margin-right: 0px;
}

.deltagreen .sheet-header h2.profession input {
  width: 100%;
  height: 40px;
  margin: 0;
}

div .simple-centered-flex-div{
  display: flex;
  align-items: center;
}

div input.fill-remaining-space{
  flex: 1;
  margin: 1px;
  text-align: left;
}

div span.bio-grid-label{
  margin: 1px;
  text-align: left;
}

.bio-grid-2col{
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
  padding-bottom: 10px;
  row-gap: 10px;
}

.bio-grid-top-border{
  border-top: 1px solid #AAA;
  padding-top: 10px;
}

.bio-grid-5col{
  display: grid;
  grid-template-columns: 100px 100px 20px 120px auto;
  align-items: center;
  padding-bottom: 10px;
}

.bonds-grid-3col{
  display: grid;
  grid-template-columns: auto 50px max-content;
  align-items: center;
  padding-bottom: 10px;
}

.centered-input-value{
  text-align: center !important;
}

.breaking-point-grid-3col{
  display: grid;
  grid-template-columns: 100px 70px 65px;
  border-top: 1px solid #AAA;
  margin-bottom: 10px;
  border-bottom: 1px solid #AAA;
  align-content: center;
  justify-content: left;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.adaptation-grid-5col{
  display: grid;
  grid-template-columns: 100px 50px 50px 50px 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-content: center;
  justify-content: left;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #AAA;
}

.adapted-label{
  font-weight: bold;
  font-style: italic;
  color: rgb(139, 0, 0);
}

.weapon-grid-2col{
  display: grid;
  grid-template-columns: 48% 48%;
  margin-top: 10px;
  margin-bottom: 5px;
  justify-content: left;
  align-items: flex-end;
  padding: 0px;
  column-gap: 4%;
}

.centered-item-property{
  text-align: center;
}

.bolded-label{
  font-weight: bold;
}

.resource .labeled-resource-checkbox{
  vertical-align: middle;
}

.resource .first-aid-label{
  vertical-align: bottom;
}

div .motivation-section{
  border-bottom: 1px solid #AAA;
  margin-bottom: 10px;
}

div .bottom-left-justified-resource{
  vertical-align: bottom;
  text-align: left;
}

div .first-aid-received-section{
  border-bottom: 1px solid #AAA;
  margin-bottom: 10px;
}

.bonds-section-header{
  border-top: 1px solid #AAA;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.about-section-header{
  border-top: 1px solid #AAA;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

textarea.wounds{
  resize: none;
}

.resource-inner-grid-3col{
  display: grid;
  grid-template-columns: 35% 30% 35%;
  align-items: center;
  text-align: center;
}

.resource-outer-grid-1col{
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  padding: 5px;
  grid-gap: 3px;
  text-align: center;
}

div.max-resource-value{
  border: 1px solid rgb(122, 121, 113);
  border-radius: 3px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.physical-stats-outer-grid-3col{
  display: grid;
  grid-template-columns: 33% 34% 33%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  grid-gap: 5px;
}

div.gear-section-header{
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: #000;
  color: #fff;
  height: 30px;
}

.physical-description-label{
  font-weight: bold;
}

div.motivation-editor-container div.editor{
  height: 400px;
  min-height: 100% !important;
}

.editor-host .tox .tox-editor-container {
  background: none !important;
}


.deltagreen .tox-editor-header {
  background: none !important;
}

.deltagreen .tox .tox-edit-area {
  padding: 0 8px;
}

.deltagreen .editor-host .editor {
  min-height: 50px;
}

.deltagreen .editor-host .tox {
  height:100% !important;
  display:block;
}

.deltagreen .editor-host .tox-tinymce {
  height:100% !important;
  display:block;
}

.deltagreen .editor-host .tox .tox-edit-area {
  position: inherit;
  min-height: 20px;
  height: 300px;
}

/*
  Item Sheet Common CSS
*/

.item-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  border: 0px solid black;
}

input.item-sheet-short-input{
  width: 75px;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center !important;
}

.item-grid-button-row{
  vertical-align: middle !important;
  line-height: inherit;
  padding: 5px 0px 0px 10px;
}

/*
  Bonds Item Sheet
*/

.bond-sheet-grid-2col{
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 5px;
  grid-gap: 5px;
}

.bond-sheet-horizontal-grid-2col{
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
  text-align: left;
  padding-bottom: 10px;
  column-gap: 10px;
  row-gap: 10px;
  padding-right: 5px;
}

/*
  Motivation Item Sheet
*/

.motivation-sheet-horizontal-grid-2col{
  display: grid;
  grid-template-columns:50% 50%;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-left: 5px;
  grid-gap: 5px;
}

/*
  Armor Item Sheet
*/

.armor-sheet-grid-2col{
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-gap: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.armor-sheet-horizontal-grid-2col{
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
  text-align: left;
  column-gap: 10px;
  row-gap: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.armor-sheet-secondary-grid-2col{
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  justify-content: left;
  text-align: left;
  grid-gap: 5px;
  padding-bottom: 10px;
}

/*
  Gear Item Sheet
*/

.gear-sheet-grid-2col{
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-gap: 5px;
  padding-left: 5px;
}

.gear-sheet-horizontal-grid-2col{
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
  text-align: left;
  column-gap: 10px;
  row-gap: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
}

/*
  Weapon Item Sheet
*/

.weapon-sheet-grid-2col{
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-gap: 5px;
  padding-left: 5px;
}

.weapon-sheet-horizontal-grid-2col{
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
  text-align: left;
  column-gap: 10px;
  row-gap: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.weapon-sheet-outer-grid-2col{
  display: grid;
  grid-template-columns: 60% 40% ;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  column-gap: 10px;
  row-gap: 5px;
}

.weapon-sheet-horizontal-grid-left-2col{
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  text-align: left;
  padding-bottom: 10px;
  column-gap: 10px;
  row-gap: 10px;
  padding-right: 10px;
}

.weapon-sheet-horizontal-grid-right-2col{
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  text-align: left;
  padding-bottom: 10px;
  column-gap: 10px;
  row-gap: 10px;
  padding-right: 10px;
}

.weapon-sheet-secondary-grid-2col{
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  justify-content: left;
  text-align: left;
  grid-gap: 5px;
  padding-right: 5px;
}

/*
  Unnatural Character Sheet Specific Classes
*/

.unnatural-notes-section{
  display: grid;
  grid-template-columns: 100%;
  align-items: left;
  justify-content: left;
  border: 1px solid #999;
  padding: 5px;
  grid-gap: 3px;
  text-align: left;
}


.skill-util-buttons{
  margin: 5px;
}

.apply-skill-improvements{
  float: right;
}

.yellow-king{
  color: #a0912f;
}

.yellow-sign{
  font-weight: bold;
  text-shadow: 1px 1px #313a00;
}

.yellow-king-rotate1{
  transform: rotate(3deg);
}

.yellow-king-rotate4{
  transform: rotate(4deg);
}

.yellow-king-rotate2{
  transform: rotate(-1deg);
}

.yellow-king-rotate3{
  transform: rotate(5deg);
}

.yellow-king-grid-9col{
  display: grid;
  grid-template-columns: max-content 5px max-content max-content 20px max-content max-content 10px 35px;
  align-items: center;
  padding-bottom: 10px;
}

.yellow-king-grid-5col{
  display: grid;
  grid-template-columns: min-content 275px 20px min-content auto;
  align-items: center;
  padding-bottom: 10px;
}

.yellow-king-label{
  margin-right: 10px;
}

.yellow-king input, .yellow-king select, .yellow-king textarea{
  color: #a0912f;
  font-weight: bold;
}

.yellow-king textarea:focus, .yellow-king input:focus{
  color: #a0912f;
}

.top-div-border{
  border-top: 1px solid #AAA;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}