.skill-modify-grid{
    display: grid;
    grid-template-columns: auto auto;
    align-content: left;
    justify-content: left;
    align-items: left;
    padding: 10px;
    grid-gap: 10px 15px;
  }

  .numeric-label-field{
      width: 50px !important;
      text-align: center !important;
  }


  .damage-modify-label-grid{
    display: grid;
    grid-template-columns: auto auto;
    align-content: left;
    justify-content: left;
    align-items: left;
    padding: 10px;
    grid-gap: 10px 15px;
}
  .damage-modify-formula-modify-grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-content: left;
    justify-content: left;
    align-items: left;
    padding: 10px;
    grid-gap: 10px 15px;
  }

  .damage-roll-formula-part{
    min-width: 100px !important;
    text-align: center !important;
}