@font-face {
    font-family: 'SpecialElite';
    src: url('../assets/font/special_elite/SpecialElite-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.special-elite-font{
    font-family: "SpecialElite", sans-serif !important;
}

.editor-content {
    font-family: "SpecialElite", sans-serif !important;
}
  
  
  .tox .tox-editor-container {
    font-family: "SpecialElite", sans-serif !important;
  }
  
  .tox .tox-edit-area {
    font-family: "SpecialElite", sans-serif !important;
  }
  
  .editor-host .editor {
    font-family: "SpecialElite", sans-serif !important;
  }
  
  .editor-host .tox {
    font-family: "SpecialElite", sans-serif !important;
  }
  
  .editor-host .tox-tinymce {
    font-family: "SpecialElite", sans-serif !important;
  }
  
  .editor-host .tox .tox-edit-area {
    font-family: "SpecialElite", sans-serif !important;
  }