# Ignore binary compendia packs.
packs/armor
packs/armor*
packs/firearms
packs/firearms*
packs/hand-to-hand-weapons
packs/hand-to-hand-weapons*
packs/operation-code-name-generator
packs/operation-code-name-generator*
packs/operation-code-name-generator-macro
packs/operation-code-name-generator-macro*
packs/pregens
packs/pregens*

# Ignore npm modules
node_modules
