<form>
    <div class="skill-modify-grid">
        <span>{{localize 'DG.ModifySkillRollDialogue.Test'}}</span>

        <span>{{data.label}}</span>
        
        <span>{{localize 'DG.ModifySkillRollDialogue.OriginalTarget'}}</span>

        {{#if data.hideTarget}}
        <input class="numeric-label-field" disabled value="??" />
        {{/if}}

        {{#unless data.hideTarget}}
        <input class="numeric-label-field" disabled value="{{data.originalTarget}}" />
        {{/unless}}
        

        <span>{{localize 'DG.ModifySkillRollDialogue.TargetModifier'}}</span>
        <div>
            <select name="plusOrMinus">
                <option value="+" selected>+</option>
                <option value="-">-</option>
            </select>
            <input class="numeric-label-field" type="number" name="targetModifier" value="{{data.targetModifier}}" title="{{localize 'DG.ModifySkillRollDialogue.ModifierTooltip'}}" min="0" max="99" step="1" oninput="validity.valid||(value='');"/>
        </div>
        
        <label for="rollMode">{{ localize "DG.RollMode" }}:</label>
        <select name="rollMode">
            {{selectOptions (getAvailableRollModes) selected=(getDefaultRollMode) localize=true}}
        </select>
    </div>
</form>