<form class="flexcol">
  <div class="flexrow">
    <label>
      {{localize "DG.SpecialTraining.Dialog.NameLabel"}}
    </label>
    <input type="text" name="special-training-label" value="{{name}}"/>
  </div>
  <div class="flexrow">
    <label>
      {{localize "DG.SpecialTraining.Dialog.SkillLabel"}}
    </label>
    {{#select currentSkill}}
      <select name="special-training-skill">
        {{#each skillList as |skill|}}
          <option value="{{skill.key}}">
            {{#if skill.group}}
              {{skill.group}} ({{skill.label}})
            {{else}}
              {{skill.label}}
            {{/if}}
          </option>
        {{/each}}
      </select>
    {{/select}}
  </div>
</form>