<form class="flexcol">
  <div class="flexrow">
    <label>
      {{localize "DG.SpecialTraining.Dialog.NameLabel"}}
    </label>
    <input type="text" name="special-training-label" value="{{name}}"/>
  </div>
  <div class="flexrow">
    <label>
      {{localize "DG.SpecialTraining.Dialog.SkillLabel"}}
    </label>
    {{#select currentSkill}}
      <select name="special-training-skill">
        <optgroup label="{{localize "DG.SpecialTraining.Dialog.DropDown.Statistics"}}"> 
          {{#each statList as |stat|}}
            <option value="{{stat.key}}" data-type="stat">
              {{stat.label}}
            </option>
          {{/each}}
        </optgroup>  
        <optgroup label="{{localize "DG.SpecialTraining.Dialog.DropDown.Skills"}}"> 
          {{#each skillList as |skill|}}
            <option value="{{skill.key}}" data-type="skill">
              {{skill.label}}
            </option>
          {{/each}}
        </optgroup>        
        <optgroup label="{{localize "DG.SpecialTraining.Dialog.DropDown.CustomSkills"}}"> 
          {{#each typedSkillList as |skill|}}
            <option value="{{skill.key}}" data-type="typedSkill">
              {{skill.group}} ({{skill.label}})
            </option>
          {{/each}}
        </optgroup>
      </select>
    {{/select}}
  </div>
</form>