<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        
      <div class="header-fields">
        
        {{!-- Name, Profession, Portrait --}}
        <div class="flexrow">
          <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="100"/>
          <div class="horizontal-flex-column">
            <div>
              <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="LAST NAME, FIRST NAME (AND ALIAS IF APPLICABLE)"/></h1>
            </div>
            <div>
              <h2 class="profession"><input name="data.biography.profession" type="text" value="{{data.biography.profession}}" placeholder="PROFESSION (RANK IF APPLICABLE)"/></h1>
            </div>
          </div>
        </div>
      
        <div class="resources grid grid-3col">

          {{!-- HP --}}
          <div class="resource flex-group-center">
              <label for="data.health.value" class="resource-label" title="Hit points, a character becomes unconsious at 2 HP, and dies at 0 HP.">HP</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
                <span> / </span>
                <span title="Maximum health is the average of STR + CON, rounded UP." class="max-attribute-value-label">{{numberFormat data.health.max decimals=0 sign=false}}</span>
              </div>
          </div>

          {{!-- WP --}}
          <div class="resource flex-group-center">
              <label for="data.wp.value" class="resource-label" 
                title="Willpower Points are mental fuel. Agents require Willpower Points to keep going despite exhaustion or mentally taxing situations.  See page 47 of the Agent's Handbook for more detail."
                >WP</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="text" name="data.wp.value" value="{{data.wp.value}}" data-dtype="Number"/>
                <span> / </span>
                <span class="max-attribute-value-label" title="Maximum WP is equal to POW.">{{numberFormat data.wp.max decimals=0 sign=false}}</span>
              </div>
          </div>

          {{!-- Sanity --}}
          <div class="resource flex-group-center">
              <label for="data.wp.value" class="resource-label rollable"
                data-rolltype="sanity" data-roll="d100" data-target="sanity" data-label="SAN" title="Click to roll a sanity check..."
              >SAN</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="text" name="data.sanity.value" value="{{data.sanity.value}}" data-dtype="Number"
                  title="Current sanity, current breaking point is {{data.sanity.currentBreakingPoint}}, click the SAN label above to roll a sanity check."
                />
                <span> / </span>
                <span title="Maximum sanity is equal to 99 - the Unnatural skill." class="max-attribute-value-label">{{numberFormat data.sanity.max decimals=0 sign=false}}</span>
              </div>
          </div>
        </div>
      </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="physical">Physical</a>
        <a class="item" data-tab="motivations">Mental</a>
        <a class="item" data-tab="gear">Gear</a>
        <a class="item" data-tab="bio">C.V.</a>
        <a class="item" data-tab="bonds">Contacts</a> 
        <a class="item fas fa-question-circle" data-tab="about"></a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            <div class="grid grid-3col">
              {{#each data.skills as |skill key|}}
                <div class="flexrow flex-group-center">
                  <label class="rollable skill-label" data-rolltype="skill" data-roll="d100" data-target="{{skill.proficiency}}" data-label="{{skill.label}}" title="Click to roll a skill check."  for="data.skills.{{key}}.value" >{{skill.label}}</label>
                  <input class="percentile-skill-input" type="text" name="data.skills.{{key}}.proficiency" value="{{skill.proficiency}}" data-dtype="Number"/>
                  <input type="checkbox" name="data.skills.{{key}}.failure" {{checked skill.failure}} data-dtype="Boolean" {{#if skill.cannotBeImprovedByFailure}} disabled {{/if}} />
                </div>
              {{/each}}
          </div>

          <div>
            <div class="item-controls">
              <a class="item-control typed-skill-add" title="Create item"><i class="fas fa-plus"></i>Add Typed or Custom Skill</a>
            </div>
            <div class="grid-2col">
              {{#each data.typedSkills as |skill key|}}
                <div class="item flexrow flex-group-center">
                  <label class="rollable skill-label" data-rolltype="skill" data-roll="d100" data-target="{{skill.proficiency}}" data-label="{{skill.label}}" title="Click to roll a skill check." >{{skill.group}} ({{skill.label}})</label>
                  <input class="percentile-skill-input" type="text" name="data.typedSkills.{{key}}.proficiency" value="{{skill.proficiency}}" data-dtype="Number"/>
                  <input type="checkbox" name="data.typedSkills.{{key}}.failure" {{checked skill.failure}} data-dtype="Boolean" {{#if skill.cannotBeImprovedByFailure}} disabled {{/if}} />
                  <div class="item-controls">
                      <a class="item-control typed-skill-delete" title="Delete Skill"><i class="fas fa-trash" data-typedskill="{{key}}" ></i></a>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>

        {{!-- Physical Statistics like STR, CON, etc. --}}
        <div class="tab physical" data-group="primary" data-tab="physical">
          <div class="grid grid-3col">
            {{#each data.statistics as |statistic key|}}
              <div class="flex-group-center">
                <div class="horizontal-flex-column">
                  <div class="flexrow" style="padding: 5px;">
                    <label class="rollable" data-rolltype="statistic.x5" data-roll="d100" data-target="statistic.x5" data-label="{{key}}" title="Click to roll a x5 check." for="data.statistics.{{key}}.value" class="resource-label">{{toUpperCase key}}</label>
                    <input type="text" name="data.statistics.{{key}}.value" value="{{statistic.value}}" data-dtype="Number"/>
                    <span >({{numberFormat statistic.x5 decimals=0 sign=false}}%)</span>
                  </div>
                  <div >
                    <input type="text" name="data.statistics.{{key}}.distinguishing_feature" value="{{statistic.distinguishing_feature}}" data-dtype="String" />
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>

        {{!-- Mental Tab (formerly 'Motivations') --}}
        <div class="tab motivations" data-group="primary" data-tab="motivations">
          <div class="">
              <div class="breaking-point-grid-3col">
                <label class="bolded-label"> Breaking Point: </label>
                <input title="The current breaking point, reset when current sanity falls to or below this value.  The starting breaking point is SAN - POW." type="text" name="data.sanity.currentBreakingPoint" value="{{data.sanity.currentBreakingPoint}}" data-dtype="Number"/>
                <a class="btn-tiny btn-reset-breaking-point" title="Reset breaking point to be current SAN - WP.">Reset</a>
              </div>
          
              <div class="">
                <h4 class="bolded-label">Incidents of SAN Loss Without Going Insane</h4>
                <div class="adaptation-grid-5col">
                  
                  <Label>Violence</Label>
                  <input class="labeled-resource-checkbox" type="checkbox" name="data.sanity.adaptations.violence.incident1" {{checked data.sanity.adaptations.violence.incident1}} data-dtype="Boolean" />
                  <input class="labeled-resource-checkbox" type="checkbox" name="data.sanity.adaptations.violence.incident2" {{#if_eq data.sanity.adaptations.violence.incident1 false}}disabled{{/if_eq}} {{checked data.sanity.adaptations.violence.incident2}} data-dtype="Boolean" />
                  <input class="labeled-resource-checkbox" type="checkbox" name="data.sanity.adaptations.violence.incident3" {{#if_eq data.sanity.adaptations.violence.incident2 false}}disabled{{/if_eq}} {{checked data.sanity.adaptations.violence.incident3}} data-dtype="Boolean" />
                  
                  <label style="font-style: italic;">
                  {{#if data.sanity.adaptations.violence.isAdapted}}
                    Adapted
                  {{/if}}
                  </label>
                  
                
                  <label>Helplessness</label>
                  <input class="labeled-resource-checkbox" type="checkbox" name="data.sanity.adaptations.helplessness.incident1" {{checked data.sanity.adaptations.helplessness.incident1}} data-dtype="Boolean" />
                  <input class="labeled-resource-checkbox" type="checkbox" name="data.sanity.adaptations.helplessness.incident2" {{#if_eq data.sanity.adaptations.helplessness.incident1 false}}disabled{{/if_eq}} {{checked data.sanity.adaptations.helplessness.incident2}} data-dtype="Boolean" />
                  <input class="labeled-resource-checkbox" type="checkbox" name="data.sanity.adaptations.helplessness.incident3" {{#if_eq data.sanity.adaptations.helplessness.incident2 false}}disabled{{/if_eq}} {{checked data.sanity.adaptations.helplessness.incident3}} data-dtype="Boolean" />
                  
                  <label style="font-style: italic;">
                  {{#if data.sanity.adaptations.helplessness.isAdapted}}
                    Adapted
                  {{/if}}
                  </label>
                  
                </div>
              </div>
          </div>

          <div>
            <ol class="items-list">
              
              <li class="item flexrow item-header">
                <div class="item-name">Motivations</div>
                <div class="item-name">Disorders</div>
                <div class="item-controls">
                  <a class="item-control item-create" title="Create item" data-type="motivation"><i class="fas fa-plus"></i> Add</a>
                </div>
              </li>

              {{#each actor.items as |item id|}}
                {{#if_eq item.type 'motivation'}}

                  <li class="item flexrow" data-item-id="{{item._id}}">
                    <h4 class="item-name"
                      {{#if item.data.crossedOut}}
                        style="text-decoration: line-through;"
                      {{/if}}
                      >
                      {{item.name}}
                    </h4>

                    {{#if item.data.crossedOut}}
                      <h4 class="item-name">{{item.data.disorder}}</h4>
                    {{/if}}

                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                  </li>

                {{/if_eq}}
              {{/each}}
            </ol>
          </div>
        </div>

        {{!-- GEAR Tab --}}
        <div class="tab items" data-group="primary" data-tab="gear">
          <div>
            <h3>WEAPONS</h3>
            <ol class="items-list">
              
              <li class="item flexrow item-header">
                <div class="item-image"></div>
                <div class="item-name">Name</div>
                <!-- <div class="item-name">Skill</div> -->
                <div class="item-name">Damage/Lethality</div>
                <div class="item-name">Armor Piercing</div>
                <div class="item-controls">
                  <a class="item-control item-create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i> Add</a>
                </div>
              </li>

              {{#each actor.items as |item id|}}
                {{#if_eq item.type 'weapon'}}

                  <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    
                    <h4 style="word-wrap: break-word;" 
                      
                      class="item-name rollable" 
                      data-roll="d100"
                      data-rolltype="skill" 
                      data-target="{{getActorSkillProp ../data item.data.skill 'proficiency'}}"
                      data-label="{{getActorSkillProp ../data item.data.skill 'label'}}"
                      title="Click to roll {{getActorSkillProp ../data item.data.skill 'label'}}"
                      >
                        {{item.name}}
                    </h4>

                    {{#unless item.data.isLethal}}
                    <span class="rollable" data-rolltype="damage" data-target="damage" data-label="{{toUpperCase item.name}}" data-roll="{{toUpperCase item.data.damage}}">
                      {{toUpperCase item.data.damage}}
                      </span>
                    {{/unless}}

                    {{#if item.data.isLethal}}
                    <span class="rollable" data-rolltype="lethality" data-target="{{item.data.lethality}}" data-label="{{item.name}}" data-roll="d100"
                      title="A lethal weapon has a chance to instantly kill a target.  Roll a D100 instead of damage die.  If it is not lethal, damage is dealt instead as if the result was a 2d10 roll, with a '00' on the first d10 equaling a 10."
                      >{{formatLethality item.data.lethality}}</span>
                    {{/if}}

                    <span >{{item.data.armorPiercing}}</span>

                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    
                  </li>

                {{/if_eq}}
              {{/each}}
            </ol>
          </div>
          <div>
            <h3>ARMOR</h3>
            <ol class="items-list">
              <li class="item flexrow item-header">
                <div class="item-image"></div>
                <div class="item-name">Name</div>
                <div class="item-name">Armor Rating</div>
                <div class="item-name"></div> <!-- This is for whether it's equipped or not, probably doesn't need a label. -->
                <div class="item-controls">
                  <a class="item-control item-create" title="Create item" data-type="armor"><i class="fas fa-plus"></i> Add</a>
                </div>
              </li>

              {{#each actor.items as |item id|}}
                {{#if_eq item.type 'armor'}}

                  <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 style="word-wrap: break-word;" class="item-name">{{item.name}}</h4>
                    <span>{{item.data.protection}}</span>
                    
                    <span>
                    {{#if item.data.equipped}}
                      EQUIPPED
                    {{/if}}
                    </span>

                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                  </li>

                {{/if_eq}}
              {{/each}}

            </ol>
          </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab bio" data-group="primary" data-tab="bio">
          <div class="bio-grid-5col">
              <span>Sex</span>
              <input class="fill-remaining-space" type="text" name="data.biography.sex" value="{{data.biography.sex}}" data-dtype="String" placeholder="Sex" />
              <span></span>
              <span class="bio-grid-label">Age And D.O.B</span>
              <input class="fill-remaining-space" type="text" name="data.biography.age" value="{{data.biography.age}}" data-dtype="String" placeholder="Age & Date of Birth" />
          </div>

          <div class="bio-grid-2col">
            
              <span>Employer</span>
              <input class="fill-remaining-space" type="text" name="data.biography.employer" value="{{data.biography.employer}}" data-dtype="String" placeholder="Employer or Work History" />
            
              <span>Nationality</span>
              <input class="fill-remaining-space" type="text" name="data.biography.nationality" value="{{data.biography.nationality}}" data-dtype="String" placeholder="Nationality" />
            
          </div>
          
          <div class="bio-grid-2col">
              <span>Education</span>
              <input class="fill-remaining-space" type="text" name="data.biography.education" value="{{data.biography.education}}" data-dtype="String" placeholder="Education and occupational history" />
          </div>
          <div>
            <span style="font-weight: bold;">Physical Description/Notes</span>  
          </div>
          {{editor content=data.physicalDescription target="data.physicalDescription" button=true owner=owner editable=editable}}
        </div>

        {{!-- Bonds Tab --}}
        <div class="tab bonds" data-group="primary" data-tab="bonds">
          <div>
            <ol class="items-list">
              <li class="item flexrow item-header">
                <div class="item-name">Name</div>
                <div class="item-name">Score</div>
                <div class="item-controls">
                  <a class="item-control item-create" title="Create item" data-type="bond"><i class="fas fa-plus"></i> Add</a>
                </div>
              </li>

              {{#each actor.items as |item id|}}
                {{#if_eq item.type 'bond'}}

                  <li class="item flexrow" data-item-id="{{item._id}}">
                    
                    <h4 style="word-wrap: break-word;" class="item-name">{{item.name}}</h4>
                    <span>{{item.data.score}}</span>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                  </li>

                {{/if_eq}}
              {{/each}}
            </div>
        </div>

        

        {{!-- About Tab --}}
        <div class="tab items" data-group="primary" data-tab="about">
          <div class="flex horizontal-flex-column">
            <div>
              <a class="fas fa-question-circle" title="Launch browser with help." href="https://github.com/TheLastScrub/delta-green-foundry-vtt-system-unofficial/blob/master/documentation/home.md" >Online System Documentation</a>
            </div>
            <br>
            <div>
              <span>This is an unofficial fan work, it is not affiliated with or endorsed by Shaney Ivey or Arc Dream Publishing.</span>
            </div>
            <br>
            <div>
              <span style="font-weight: bold;">Delta Green Community License (NONCOMMERCIAL)</span>
              <p>
                 Published by arrangement with the Delta Green Partnership. 
                 The intellectual property known as Delta Green is a trademark and copyright owned by the Delta Green Partnership, who has licensed its use here.
              </p>
              <p>
                 The contents of this system are licensed per the terms of the included <a href="systems/deltagreen/LICENSE.txt">license</a> file, excepting those elements that are components of the Delta Green intellectual property.
              </p>
              <p>
                Some content may additionally also be covered under the terms of the <a href="systems/deltagreen/OGL-v1.0a.txt">Open Game License</a> (Copyright 2000 Wizards of the Coast, Inc.).
              </p>
            </div>
          </div>
        </div>

    </section>
</form>

