<form class="{{cssClass}} {{getFontFamilySystemSettingClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        
      <div class="header-fields">
        
        {{!-- Name, Profession, Portrait --}}
        <div class="flexrow">
          <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="100"/>
          <div>
            <div class="">
              <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" title="{{localize 'DG.AgentNameFieldTooltip' }}"/></h1>
            </div>
            <div class="profession">
              <h2 class="profession"><input name="system.biography.profession" type="text" value="{{actor.system.biography.profession}}" placeholder="{{localize 'DG.FallbackText.ProfessionAndOrRank'}}"/></h2>
            </div>
          </div>
        </div>
      
        <div class="resources grid grid-3col">
          
          {{!-- HP --}}
          <div class="resource-outer-grid-1col">
              <label for="actor.system.health.value" class="resource-label" title="{{localize 'DG.Tooltip.HP'}}">{{localize 'DG.Attributes.HP' }} (<span>{{actor.system.health.protection}} <i class="fas fa-shield-alt"></i></span>)</label>
              <div class="resource-inner-grid-3col">
                <input type="text" name="system.health.value" value="{{actor.system.health.value}}" data-dtype="Number"/>
                <span> / </span>
                <!-- <span title="{{localize 'DG.Tooltip.MaximumHP'}}" class="max-attribute-value-label">{{numberFormat system.health.max decimals=0 sign=false}}</span> -->
                <div class="max-resource-value" title="{{localize 'DG.Tooltip.MaximumHP'}}">
                  <div>{{numberFormat actor.system.health.max decimals=0 sign=false}}</div>
                </div>
              </div>
          </div>

          {{!-- WP --}}
          <div class="resource-outer-grid-1col">
              <label for="system.wp.value" class="resource-label" title="{{localize 'DG.Tooltip.WP'}}">{{localize 'DG.Attributes.WP' }}</label>
              <div class="resource-inner-grid-3col">
                <input type="text" name="system.wp.value" value="{{actor.system.wp.value}}" data-dtype="Number"/>
                <span> / </span>
                <!-- <span class="max-attribute-value-label" title="{{localize 'DG.Tooltip.MaximumWP'}}">{{numberFormat system.wp.max decimals=0 sign=false}}</span> -->
                <div class="max-resource-value" title="{{localize 'DG.Tooltip.MaximumWP'}}">
                  <div>{{numberFormat actor.system.wp.max decimals=0 sign=false}}</div>
                </div>
              </div>
          </div>

          {{!-- Sanity --}}
          <div class="resource-outer-grid-1col">
              <label for="system.san.value" class="resource-label rollable"
                data-rolltype="sanity" data-roll="d100" data-target="sanity" data-label="SAN" title="{{localize 'DG.Tooltip.SanityLabel'}}"
              >{{localize 'DG.Attributes.SAN' }} <i class="fas fa-dice"></i></label>
              <div class="resource-inner-grid-3col">

                {{#if (keepSanityPrivate)}}
                  <input type="text" value="??" disabled title="{{localize 'DG.Tooltip.CurrentSanityPartOne'}}{{system.sanity.currentBreakingPoint}}{{localize 'DG.Tooltip.CurrentSanityPartTwo'}}" />
                  <span> / </span>
                  <div class="max-resource-value" title="{{localize 'DG.Tooltip.MaximumSanity'}}">
                    <div>{{numberFormat actor.system.sanity.max decimals=0 sign=false}}</div>
                  </div>
                {{/if}}

                {{#unless (keepSanityPrivate)}}
 
                  <input type="text" name="system.sanity.value" value="{{actor.system.sanity.value}}" data-dtype="Number" title="{{localize 'DG.Tooltip.CurrentSanityPartOne'}}{{system.sanity.currentBreakingPoint}}{{localize 'DG.Tooltip.CurrentSanityPartTwo'}}" />
                  <span> / </span>
                  <div class="max-resource-value" title="{{localize 'DG.Tooltip.MaximumSanity'}}">
                    <div>{{numberFormat actor.system.sanity.max decimals=0 sign=false}}</div>
                  </div>

                {{/unless}}
              </div>
          </div>
        </div>
      </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="skills">{{localize 'DG.Navigation.Skills'}}</a>
        <a class="item" data-tab="physical">{{localize 'DG.Navigation.Physical'}}</a>
        <a class="item" data-tab="motivations">{{localize 'DG.Navigation.Mental'}}</a>
        <a class="item" data-tab="gear">{{localize 'DG.Navigation.Gear'}}</a>
        <a class="item" data-tab="bio">{{localize 'DG.Navigation.CV'}}</a>
        <a class="item" data-tab="bonds">{{localize 'DG.Navigation.Contacts'}}</a> 
        <a class="item fas fa-question-circle" data-tab="about"></a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            <div class="grid grid-3col">

              {{#each actor.system.skills as |skill key|}}
              
                <div class="flexrow flex-group-center">
                  <label class="{{if_gt skill.proficiency 0 'rollable' 'not-rollable'}} skill-label" data-rolltype="skill" data-roll="d100" data-target="{{skill.proficiency}}" data-label="{{localize (concat 'DG.Skills.' key)}}" for="system.skills.{{key}}.value" 
                      {{#if skill.proficiency}}title="{{localize 'DG.Tooltip.SkillLabel'}}"{{/if}}
                      {{#unless skill.proficiency}}title="{{localize 'DG.Tooltip.CannotRollSkillLabel'}}"{{/unless}}
                    >
                    {{localizeWithFallback (concat "DG.Skills." key) skill.label }}
                  </label>
                  
                  {{#if_eq key 'ritual' }}

                    {{#if (keepSanityPrivate)}}
                      <input class="percentile-skill-input" type="text" name="system.skills.{{key}}.proficiency" value="??" data-dtype="Number" {{#if skill.isCalculatedValue}} disabled {{/if}}/>
                      <input type="checkbox" name="system.skills.{{key}}.failure" {{checked skill.failure}} data-dtype="Boolean" {{#if skill.cannotBeImprovedByFailure}} disabled {{/if}} 
                        title="{{localize 'DG.Tooltip.SkillFailCheckbox'}}"
                        />
                    {{/if}}

                    {{#unless (keepSanityPrivate)}}
                      <input class="percentile-skill-input" type="text" name="system.skills.{{key}}.proficiency" value="{{skill.proficiency}}" data-dtype="Number" {{#if skill.isCalculatedValue}} disabled {{/if}}/>
                      <input type="checkbox" name="system.skills.{{key}}.failure" {{checked skill.failure}} data-dtype="Boolean" {{#if skill.cannotBeImprovedByFailure}} disabled {{/if}} 
                        title="{{localize 'DG.Tooltip.SkillFailCheckbox'}}"
                        />
                    {{/unless}}
                    
                  {{/if_eq}}

                  {{#if_not_eq key 'ritual' }}
                    <input class="percentile-skill-input" type="text" name="system.skills.{{key}}.proficiency" value="{{skill.proficiency}}" data-dtype="Number" {{#if skill.isCalculatedValue}} disabled {{/if}}/>
                    <input type="checkbox" name="system.skills.{{key}}.failure" {{checked skill.failure}} data-dtype="Boolean" {{#if skill.cannotBeImprovedByFailure}} disabled {{/if}} 
                      title="{{localize 'DG.Tooltip.SkillFailCheckbox'}}"
                      />
                  {{/if_not_eq}}

                </div>
              {{/each}}
          </div>

          <div>
            <div class="item-controls skill-util-buttons">
              <a class="item-control typed-skill-add"><i class="fas fa-plus"></i>{{localize 'DG.Skills.AddTypedOrCustomSkill'}}</a> 
              <a class="item-control apply-skill-improvements">{{localize 'DG.Skills.ApplySkillImprovements'}}<i class="fas fa-plus"></i></a>
            </div>
            <div class="grid-2col">
              {{#each actor.system.typedSkills as |skill key|}}
                <div class="item flexrow flex-group-center">
                  <label class="{{if_gt skill.proficiency 0 'rollable' 'not-rollable'}} skill-label" data-rolltype="skill" data-roll="d100" data-target="{{skill.proficiency}}" data-label="{{skill.label}}" 
                      {{#if skill.proficiency}}title="{{localize 'DG.Tooltip.SkillLabel'}}"{{/if}}
                      {{#unless skill.proficiency}}title="{{localize 'DG.Tooltip.CannotRollSkillLabel'}}"{{/unless}} 
                    >
                    {{skill.group}} ({{skill.label}})
                  </label>
                  <input class="percentile-skill-input" type="text" name="system.typedSkills.{{key}}.proficiency" value="{{skill.proficiency}}" data-dtype="Number"/>
                  <input type="checkbox" name="system.typedSkills.{{key}}.failure" {{checked skill.failure}} data-dtype="Boolean" {{#if skill.cannotBeImprovedByFailure}} disabled {{/if}} />
                  <div class="item-controls">
                      <a class="item-control typed-skill-edit" title="Edit Skill"><i class="fas fa-edit" data-typedskill="{{key}}" ></i></a>
                      <a class="item-control typed-skill-delete" title="Delete Skill"><i class="fas fa-trash" data-typedskill="{{key}}" ></i></a>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>

        {{!-- Physical Statistics like STR, CON, etc. --}}
        <div class="tab physical" data-group="primary" data-tab="physical">
          <div class="grid grid-3col">
            {{#each actor.system.statistics as |statistic key|}}
              <div class="flex-group-center">
                <div class="">
                  <div class="physical-stats-outer-grid-3col">
                    <label class="rollable" data-rolltype="statistic.x5" data-roll="d100" data-target="statistic.x5" data-label="{{key}}" title="{{localize 'DG.Tooltip.x5AttributeLabel'}}" for="system.statistics.{{key}}.value" class="resource-label">{{localize (concat 'DG.Attributes.' key)}}</label>
                    <input type="text" name="system.statistics.{{key}}.value" value="{{statistic.value}}" data-dtype="Number"/>
                    <span  class="rollable" data-rolltype="statistic.x5" data-roll="d100" data-target="statistic.x5" data-label="{{key}}" title="{{localize 'DG.Tooltip.x5AttributeLabel'}}">({{numberFormat statistic.x5 decimals=0 sign=false}}%)</span>
                  </div >
                  <div >
                    <input type="text" name="system.statistics.{{key}}.distinguishing_feature" value="{{statistic.distinguishing_feature}}" data-dtype="String" title="{{localize 'DG.Tooltip.DistinguishingFeature'}}" />
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
          <div>
            <div class="first-aid-received-section resource">
              <label class="bolded-label first-aid-label"
                title="{{localize 'DG.Tooltip.FirstAidAttempted'}}"
              >{{localize 'DG.Physical.FirstAidLabel'}}</label>
              <input class="labeled-resource-checkbox" type="checkbox" name="system.physical.firstAidAttempted" {{checked actor.system.physical.firstAidAttempted}} data-dtype="Boolean" title="{{localize 'DG.Tooltip.FirstAidAttempted'}}" />
            </div>
            <div>
              <label class="bolded-label">{{localize 'DG.Physical.Wounds'}}</label>
              <!--<input class="fill-remaining-space" type="text" name="system.physical.wounds" value="{{system.physical.wounds}}" data-dtype="String" /> -->
              <!-- This seems to save values, but not retrieve them... -->
              <textarea class="wounds" rows="10" cols="10" name="system.physical.wounds">{{actor.system.physical.wounds}}</textarea>
            </div>
          </div>
        </div>

        {{!-- Mental Tab (formerly 'Motivations') --}}
        <div class="tab motivations" data-group="primary" data-tab="motivations">
          <div class="">
              <div class="breaking-point-grid-3col">
                <label class="bolded-label">{{localize 'DG.Mental.BreakingPoint'}}</label>
                <input class="centered-input-value" title="{{localize 'DG.Tooltip.BreakPoint'}}" type="text" name="system.sanity.currentBreakingPoint" value="{{actor.system.sanity.currentBreakingPoint}}" data-dtype="Number"/>
                <a class="btn-tiny btn-reset-breaking-point" title="Reset breaking point to be current SAN - WP.">{{localize 'DG.Mental.Reset'}}</a>
              </div>
          
              <div class="">
                <h4 class="bolded-label">{{localize 'DG.Mental.SanityLossIncidentsLabel'}}</h4>
                <div class="adaptation-grid-5col">
                  
                  <Label>{{localize 'DG.Mental.Violence'}}</Label>
                  <input class="labeled-resource-checkbox" type="checkbox" name="system.sanity.adaptations.violence.incident1" {{checked actor.system.sanity.adaptations.violence.incident1}} data-dtype="Boolean" />
                  <input class="labeled-resource-checkbox" type="checkbox" name="system.sanity.adaptations.violence.incident2" {{checked actor.system.sanity.adaptations.violence.incident2}} data-dtype="Boolean" />
                  <input class="labeled-resource-checkbox" type="checkbox" name="system.sanity.adaptations.violence.incident3" {{checked actor.system.sanity.adaptations.violence.incident3}} data-dtype="Boolean" />
                  
                  <label class="adapted-label"
                    title="{{localize 'DG.Tooltip.AdaptedToViolence'}}"
                  >
                  {{#if actor.system.sanity.adaptations.violence.isAdapted}}
                    {{localize 'DG.Mental.AdaptedToViolence'}}
                  {{/if}}
                  </label>
                  
                  <label>{{localize 'DG.Mental.Helplessness'}}</label>
                  <input class="labeled-resource-checkbox" type="checkbox" name="system.sanity.adaptations.helplessness.incident1" {{checked actor.system.sanity.adaptations.helplessness.incident1}} data-dtype="Boolean" />
                  <input class="labeled-resource-checkbox" type="checkbox" name="system.sanity.adaptations.helplessness.incident2" {{checked actor.system.sanity.adaptations.helplessness.incident2}} data-dtype="Boolean" />
                  <input class="labeled-resource-checkbox" type="checkbox" name="system.sanity.adaptations.helplessness.incident3" {{checked actor.system.sanity.adaptations.helplessness.incident3}} data-dtype="Boolean" />
                  
                  <label class="adapted-label"
                    title="{{localize 'DG.Tooltip.AdaptedToHelplessness'}}"
                  >
                  {{#if actor.system.sanity.adaptations.helplessness.isAdapted}}
                    {{localize 'DG.Mental.AdaptedToHelplessness'}}
                  {{/if}}
                  </label>
                  
                </div>
              </div>
          </div>

          <div>
            <ol class="items-list">
              
              <li class="item flexrow item-header">
                <div class="item-name">{{localize 'DG.Mental.Motivations'}}</div>
                <div class="item-name">{{localize 'DG.Mental.Disorders'}}</div>
                <div class="item-controls">
                  <a class="item-control item-create" title="Create item" data-type="motivation"><i class="fas fa-plus"></i> {{localize 'DG.Generic.AddButtonLabel'}}</a>
                </div>
              </li>

              {{#each actor.items as |item id|}}
                {{#if_eq item.type 'motivation'}}

                  <li class="item flexrow" data-item-id="{{item.id}}">
                    <h4 class="item-name"
                      {{#if item.system.crossedOut}}
                        style="text-decoration: line-through;"
                      {{/if}}
                      >
                      {{item.name}}
                    </h4>

                    {{#if item.system.crossedOut}}
                      <h4 class="item-name">{{item.system.disorder}}</h4>
                    {{/if}}

                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                  </li>

                {{/if_eq}}
              {{/each}}
            </ol>
          </div>
        </div>

        {{!-- GEAR Tab --}}
        <div class="tab items" data-group="primary" data-tab="gear">
          <div>
                        
            <div class="gear-section-header">
                <span>{{localize 'DG.Gear.Weapons'}}</span>                                                    
            </div>

            <ol class="items-list">
              
              <li class="item flexrow item-header">
                <div class="item-image"></div>
                <span class="">{{localize 'DG.Gear.Name'}} <a><i class="weapon-browse fas fa-search"></i></a></span>
                <span class="centered-item-property">{{localize 'DG.Gear.DamageOrLethality'}}</span>
                <span class="centered-item-property">{{localize 'DG.Gear.ArmorPiercing'}}</span>
                <div class="item-controls">
                  <a class="item-control item-create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i> {{localize 'DG.Generic.AddButtonLabel'}}</a>                  
                </div>
              </li>

              {{#each actor.items as |item id|}}
                {{#if_eq item.type 'weapon'}}
                  
                  <li class="item flexrow" data-item-id="{{item._id}}">
                    <div 
                      class="item-image rollable"
                      data-roll="d100"
                      data-rolltype="weaponskill" 
                      data-target="{{item.system.skill}}"                         
                      data-label="{{localizeWeaponSkill item.system.skill}}"
                      title="{{localize 'DG.Tooltip.SkillLabel'}} ({{localizeWeaponSkill item.system.skill}})"
                    ><img src="{{item.img}}"  width="24" height="24"/></div>
                    
                    <h4 style="word-wrap: break-word;" 
                      
                      class="item-name rollable" 
                      data-roll="d100"
                      data-rolltype="weaponskill" 
                      data-target="{{item.system.skill}}"                         
                      data-label="{{localizeWeaponSkill item.system.skill}}"
                      title="{{localize 'DG.Tooltip.SkillLabel'}} ({{localizeWeaponSkill item.system.skill}})"
                      >
                        {{item.name}}
                    </h4>

                    <span class = "centered-item-property">
                      {{#unless item.system.isLethal}}
                      <span class="rollable" 
                        
                        data-rolltype="damage" 
                        data-target="damage" 
                        data-label="{{toUpperCase item.name}}" 
                        data-roll="{{toUpperCase item.system.damage}}"
                        data-skill="{{item.system.skill}}"
                        >                      
                        {{toUpperCase item.system.damage}}{{#if_eq item.system.skill 'unarmed_combat'}}{{actor.system.statistics.str.meleeDamageBonusFormula}}{{/if_eq}}{{#if_eq item.system.skill 'melee_weapons'}}{{actor.system.statistics.str.meleeDamageBonusFormula}}{{/if_eq}}</span>
                      {{/unless}}

                      {{#if item.system.isLethal}}
                      <span class="rollable" data-rolltype="lethality" data-target="{{item.system.lethality}}" data-label="{{item.name}}" data-roll="d100"
                        title="{{localize 'DG.ItemWindow.Weapons.LethalityTooltip'}}">
                        {{item.system.lethality}}%</span>
                      {{/if}}
                      
                      {{#if item.system.lethality}}
                        - 
                        {{#if item.system.isLethal}}
                          <a class="item-control toggle-lethality dg-red" title="Toggle Lethality (Current Lethality: {{item.system.lethality}}%)"><i class="fas fa-skull-crossbones" item-id="{{item.id}}" is-lethal="true"></i></a>
                        {{else}}
                          <a class="item-control toggle-lethality" title="Toggle Lethality (Currently No Lethality)"><i class="fas fa-user-injured" item-id="{{item.id}}" is-lethal="false"></i></a>
                        {{/if}}
                      {{/if}}
                    </span>


                    <span class="centered-item-property">{{item.system.armorPiercing}}</span>

                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    
                  </li>

                {{/if_eq}}
              {{/each}}
            </ol>
          </div>
          <div>

            <div class="gear-section-header">
              <span>{{localize 'DG.Gear.Armor'}}</span>
            </div>

            <ol class="items-list">
              <li class="item flexrow item-header">
                <div class="item-image"></div>
                <div class="item-name"><span>{{localize 'DG.Gear.Name'}} <a><i class="armor-browse fas fa-search"></i></a></span></div>
                <span class="centered-item-property">{{localize 'DG.Gear.ArmorRating'}}</span>
                <span class="centered-item-property">{{localize 'DG.Gear.Equipped'}}</span>
                <div class="item-controls">
                  <a class="item-control item-create" title="Create item" data-type="armor"><i class="fas fa-plus"></i> {{localize 'DG.Generic.AddButtonLabel'}}</a>
                </div>
              </li>

              {{#each actor.items as |item id|}}
                {{#if_eq item.type 'armor'}}

                  <li class="item flexrow" data-item-id="{{item.id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 style="word-wrap: break-word;" class="item-name">{{item.name}}</h4>
                    <span class="centered-item-property">{{item.system.protection}}</span>
                    
                    <span class="equipped-item centered-item-property" data-id="{{item.id}}" title="{{localize 'DG.Tooltip.ToggleEquippedState'}}">
                      {{#if item.system.equipped}}
                        <span class="fas fa-check"></span>
                      {{else}}
                        <span class="fas fa-times"></span>
                      {{/if}}
                    </span>

                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                  </li>

                {{/if_eq}}
              {{/each}}

            </ol>
          </div>
          <div>

            <div class="gear-section-header">
              <span>{{localize 'DG.Gear.OtherGear'}}</span>
            </div>

            <ol class="items-list">
              <li class="item flexrow item-header">
                <div class="item-image"></div>
                <div class="item-name">{{localize 'DG.Gear.Name'}}</div>
                <div class="item-name"></div>
                <span class="centered-item-property">{{localize 'DG.Gear.Equipped'}}</span>
                <div class="item-controls">
                  <a class="item-control item-create" title="Create item" data-type="gear"><i class="fas fa-plus"></i> {{localize 'DG.Generic.AddButtonLabel'}}</a>
                </div>
              </li>

              {{#each actor.items as |item id|}}
                {{#if_eq item.type 'gear'}}

                  <li class="item flexrow" data-item-id="{{item.id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 style="word-wrap: break-word;" class="item-name">{{item.name}}</h4>

                    <span></span> <!-- This is just here to get things to align nicely with the other sections-->
                    
                    <span class="equipped-item centered-item-property" data-id="{{item.id}}" title="{{localize 'DG.Tooltip.ToggleEquippedState'}}" >
                      
                      {{#if item.system.equipped}}
                        <span class="fas fa-check"></span>
                      {{else}}
                        <span class="fas fa-times"></span>
                      {{/if}}
                    
                    </span>

                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                  </li>

                {{/if_eq}}
              {{/each}}

            </ol>
          </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab bio" data-group="primary" data-tab="bio">
          {{> "systems/deltagreen/templates/actor/cv-partial.html" }}
        </div>

        {{!-- Bonds Tab --}}
        <div class="tab bonds" data-group="primary" data-tab="bonds">
          <div class="bonds-section-header">
            
          </div>
          <div>
            <ol class="items-list">
              <li class="item flexrow item-header">
                
                <div class="item-icon"><a class="clear-all-bond-damage-checks" title="Clear All"><i class="fas fa-arrow-rotate-left"></i></a></div>
                <div class="item-image"></div>
                <div class="item-name">{{localize 'DG.Bonds.Name'}}</div>
                <div class="item-name">{{localize 'DG.Bonds.Relationship'}}</div>
                <div class="item-name">{{localize 'DG.Bonds.Score'}}</div>                
                <div class="item-controls">
                  <a class="item-control item-create" title="Create item" data-type="bond"><i class="fas fa-plus"></i> {{localize 'DG.Generic.AddButtonLabel'}}</a>
                </div>
              </li>

              {{#each actor.items as |item id|}}
                {{#if_eq item.type 'bond'}}

                  <li class="item flexrow" data-item-id="{{item.id}}">
                    <input class="bond-has-been-damaged-agent-sheet-checkbox" type="checkbox" {{checked item.system.hasBeenDamagedSinceLastHomeScene}} data-dtype="Boolean" 
                        title="Check if bond has been damaged since last home scene."
                        />
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 style="word-wrap: break-word;" class="item-name">{{item.name}}</h4>
                    <span>{{item.system.relationship}}</span>
                    <span>{{item.system.score}}</span>                    
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                  </li>

                {{/if_eq}}
              {{/each}}
            </ol>

            <div>
              <span>{{localizeWithFallback 'DG.Generic.CheckDamagedBondsBoxUntilNextHomeScene' 'Check a damaged Bond&#39;s box until the next Home scene ends.' }}</span>
            </div>
            
          </div>
        </div>

        {{!-- About Tab --}}
        <div class="tab about" data-group="primary" data-tab="about">
          
          {{> "systems/deltagreen/templates/actor/help-and-licensing-partial.html" }}

        </div>

    </section>
</form>

