<form class="{{cssClass}} {{getFontFamilySystemSettingClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
      
    <div class="header-fields">
      
      {{!-- Name, Profession, Portrait --}}
      <div class="flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="100"/>
        <div>
          <div>
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" /></h1>
          </div>
          <div class="">
            <h2 class="profession"><input name="system.shortDescription" type="text" value="{{actor.system.shortDescription}}" placeholder="{{localize 'DG.FallbackText.ProfessionAndOrRank'}}"/></h1>
          </div>
        </div>
      </div>
    
      <div class="resources grid grid-3col">
        
        {{!-- HP --}}
        <div class="resource-outer-grid-1col">
            <label for="actor.system.health.value" class="resource-label" title="{{localize 'DG.Tooltip.HP'}}">{{localize 'DG.Attributes.HP'}} (<span>{{actor.system.health.protection}} <i class="fas fa-shield-alt"></i></span>)</label>
            <div class="resource-inner-grid-3col">
              <input type="text" name="system.health.value" value="{{actor.system.health.value}}" data-dtype="Number"/>
              <span> / </span>
              <input type="text" name="system.health.max" value="{{actor.system.health.max}}" data-dtype="Number"/>
            </div>
        </div>

        {{!-- WP --}}
        <div class="resource-outer-grid-1col">
            <label for="system.wp.value" class="resource-label" title="{{localize 'DG.Tooltip.WP'}}">{{localize 'DG.Attributes.WP' }}</label>
            <div class="resource-inner-grid-3col">
              <input type="text" name="system.wp.value" value="{{actor.system.wp.value}}" data-dtype="Number"/>
              <span> / </span>
              <input type="text" name="system.wp.max" value="{{actor.system.wp.max}}" data-dtype="Number"/>
            </div>
        </div>

        {{!-- Sanity --}}
        <div class="resource-outer-grid-1col">
            <label for="system.wp.value" class="resource-label rollable"
              data-rolltype="sanity" data-roll="d100" data-target="sanity" data-label="SAN" title="{{localize 'DG.Tooltip.SanityLabel'}}"
            >{{localize 'DG.Attributes.SAN' }}</label>
            <div class="resource-inner-grid-3col">
              <input type="text" name="system.sanity.value" value="{{actor.system.sanity.value}}" data-dtype="Number" title="{{localize 'DG.Tooltip.CurrentSanityPartOne'}}{{actor.system.sanity.currentBreakingPoint}}{{localize 'DG.Tooltip.CurrentSanityPartTwo'}}" />
              <span> {{localize 'DG.NPCSheet.BreakPointAbbreviation'}}: </span>
              <input type="text" name="system.sanity.currentBreakingPoint" value="{{actor.system.sanity.currentBreakingPoint}}" data-dtype="Number" title="{{localize 'DG.Tooltip.BreakPoint'}}" />
            </div>
        </div>
      </div>

      <br>

      {{!-- Physical Statistics like STR, CON, etc. --}}
      <div class="">
        <div class="grid grid-3col">
          {{#each actor.system.statistics as |statistic key|}}
            <div class="flex-group-center">
              <div class="">
                <div class="physical-stats-outer-grid-3col">
                  <label class="rollable" data-rolltype="statistic.x5" data-roll="d100" data-target="statistic.x5" data-label="{{key}}" title="{{localize 'DG.Tooltip.x5AttributeLabel'}}" for="system.statistics.{{key}}.value" class="resource-label">{{localize (concat 'DG.Attributes.' key)}}</label>
                  <input type="text" name="system.statistics.{{key}}.value" value="{{statistic.value}}" data-dtype="Number"/>
                  <span >({{numberFormat statistic.x5 decimals=0 sign=false}}%)</span>
                </div >
                {{!-- <div> <input type="text" name="system.statistics.{{key}}.distinguishing_feature" value="{{statistic.distinguishing_feature}}" data-dtype="String" title="{{localize 'DG.Tooltip.DistinguishingFeature'}}" /> </div> --}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>

    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="skills">{{localize 'DG.UnnaturalSheet.Tabs.NotesTabLabel'}}</a>
      <a class="item" data-tab="gear">{{localize 'DG.UnnaturalSheet.Tabs.ItemsTabLabel'}}</a>
      <a class="item fas fa-question-circle" data-tab="about"></a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Descriptions/Notes/Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      {{!-- Checkbox to hide/show skills that are at zero --}}
      <div>
        <span class="resource-label" for="system.showUntrainedSkills">{{localize 'DG.UnnaturalSheet.HideUntrainedSkillsLabel'}}:</label>
        <input class="labeled-resource-checkbox" type="checkbox" name="system.showUntrainedSkills" {{checked actor.system.showUntrainedSkills}} data-dtype="Boolean" />
      </div>

      <div class="grid grid-3col">
        {{#each actor.system.skills as |skill key|}}
          
          {{#if (hideSkillBasedOnProficiencyAndUserChoice ../actor.system.showUntrainedSkills skill.proficiency)}}
          <div class="flexrow flex-group-center">
            <label class="{{if_gt skill.proficiency 0 'rollable' 'not-rollable'}} skill-label" data-rolltype="skill" data-roll="d100" data-target="{{skill.proficiency}}" data-label="{{localize (concat 'DG.Skills.' key)}}" for="system.skills.{{key}}.value" 
                {{#if skill.proficiency}}title="{{localize 'DG.Tooltip.SkillLabel'}}"{{/if}}
                {{#unless skill.proficiency}}title="{{localize 'DG.Tooltip.CannotRollSkillLabel'}}"{{/unless}}
              >
              {{ localize (concat "DG.Skills." key) }}
            </label>
            <input class="percentile-skill-input" type="text" name="system.skills.{{key}}.proficiency" value="{{skill.proficiency}}" data-dtype="Number" {{#if skill.isCalculatedValue}} disabled {{/if}}/>
            
          </div>
          {{/if}}

        {{/each}}
      </div>
      <br>
      <div>
        <div class="item-controls">
          <a class="item-control typed-skill-add"><i class="fas fa-plus"></i>{{localize 'DG.Skills.AddTypedOrCustomSkill'}}</a>
        </div>
        <div class="grid-2col">
          {{#each actor.system.typedSkills as |skill key|}}
            {{#if (hideSkillBasedOnProficiencyAndUserChoice ../actor.system.showUntrainedSkills skill.proficiency)}}
            <div class="item flexrow flex-group-center">
              <label class="{{if_gt skill.proficiency 0 'rollable' 'not-rollable'}} skill-label" data-rolltype="skill" data-roll="d100" data-target="{{skill.proficiency}}" data-label="{{skill.label}}" 
                  {{#if skill.proficiency}}title="{{localize 'DG.Tooltip.SkillLabel'}}"{{/if}}
                  {{#unless skill.proficiency}}title="{{localize 'DG.Tooltip.CannotRollSkillLabel'}}"{{/unless}} 
                >
                {{skill.group}} ({{skill.label}})
              </label>
              <input class="percentile-skill-input" type="text" name="system.typedSkills.{{key}}.proficiency" value="{{skill.proficiency}}" data-dtype="Number"/>
              
              <div class="item-controls">
                  <a class="item-control typed-skill-delete" title="Delete Skill"><i class="fas fa-trash" data-typedskill="{{key}}" ></i></a>
              </div>
            </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
      <br>
      <div>
        <span class="resource-label">{{localize 'DG.UnnaturalSheet.NotesLabel'}}</span>
      </div>
      <div class="unnatural-notes-section">
        <div class="editor-host">
          {{editor enrichedDescription target="system.notes" button=true owner=owner editable=editable}}
        </div>
      </div>
      
    </div>
      
    {{!-- GEAR --}}
    <div class="tab items" data-group="primary" data-tab="gear">
      <div>
                    
        <div class="gear-section-header">
            <span>{{localize 'DG.Gear.Weapons'}}</span>                                                    
        </div>

        <ol class="items-list">
          
          <li class="item flexrow item-header">
            <div class="item-image"></div>
            <span class="">{{localize 'DG.Gear.Name'}}</span>
            <span class="centered-item-property">{{localize 'DG.Gear.DamageOrLethality'}}</span>
            <span class="centered-item-property">{{localize 'DG.Gear.ArmorPiercing'}}</span>
            <div class="item-controls">
              <a class="item-control item-create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i> {{localize 'DG.Generic.AddButtonLabel'}}</a>
            </div>
          </li>

          {{#each actor.items as |item id|}}
            {{#if_eq item.type 'weapon'}}
              
              <li class="item flexrow" data-item-id="{{item.id}}">
                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                
                <h4 style="word-wrap: break-word;" 
                  
                  class="item-name rollable" 
                  data-roll="d100"
                  data-rolltype="weaponskill" 
                  data-target="{{item.system.skill}}"                         
                  data-label="{{localizeWeaponSkill item.system.skill}}"
                  title="{{localize 'DG.Tooltip.SkillLabel'}} ({{localizeWeaponSkill item.system.skill}})"
                  >
                    {{item.name}}
                </h4>

                {{#unless item.system.isLethal}}
                <span class="rollable centered-item-property" 
                  
                  data-rolltype="damage" 
                  data-target="damage" 
                  data-label="{{toUpperCase item.name}}" 
                  data-roll="{{toUpperCase item.system.damage}}"
                  data-skill="{{item.system.skill}}"
                  >                      
                  {{toUpperCase item.system.damage}}</span>
                {{/unless}}

                {{#if item.system.isLethal}}
                <span class="rollable  centered-item-property" data-rolltype="lethality" data-target="{{item.system.lethality}}" data-label="{{item.name}}" data-roll="d100"
                  title="{{localize 'DG.ItemWindow.Weapons.LethalityTooltip'}}"
                  >{{formatLethality item.system.lethality}}</span>
                {{/if}}

                <span class="centered-item-property">{{item.system.armorPiercing}}</span>

                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
                
              </li>

            {{/if_eq}}
          {{/each}}
        </ol>
      </div>
      <div>

        <div class="gear-section-header">
          <span>{{localize 'DG.Gear.Armor'}}</span>
        </div>

        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-image"></div>
            <div class="item-name">{{localize 'DG.Gear.Name'}}</div>
            <span class="centered-item-property">{{localize 'DG.Gear.ArmorRating'}}</span>
            <span class="centered-item-property">{{localize 'DG.Gear.Equipped'}}</span>
            <div class="item-controls">
              <a class="item-control item-create" title="Create item" data-type="armor"><i class="fas fa-plus"></i> {{localize 'DG.Generic.AddButtonLabel'}}</a>
            </div>
          </li>

          {{#each actor.items as |item id|}}
            {{#if_eq item.type 'armor'}}

              <li class="item flexrow" data-item-id="{{item.id}}">
                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                <h4 style="word-wrap: break-word;" class="item-name">{{item.name}}</h4>
                <span class="centered-item-property">{{item.system.protection}}</span>
                
                <span class="equipped-item centered-item-property" data-id="{{item.id}}" title="{{localize 'DG.Tooltip.ToggleEquippedState'}}">
                  {{#if item.system.equipped}}
                    <span class="fas fa-check"></span>
                  {{else}}
                    <span class="fas fa-times"></span>
                  {{/if}}
                </span>

                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </li>

            {{/if_eq}}
          {{/each}}

        </ol>
      </div>
      <div>

        <div class="gear-section-header">
          <span>{{localize 'DG.Gear.OtherGear'}}</span>
        </div>

        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-image"></div>
            <div class="item-name">{{localize 'DG.Gear.Name'}}</div>
            <div class="item-name"></div>
            <span class="centered-item-property">{{localize 'DG.Gear.Equipped'}}</span>
            <div class="item-controls">
              <a class="item-control item-create" title="Create item" data-type="gear"><i class="fas fa-plus"></i> {{localize 'DG.Generic.AddButtonLabel'}}</a>
            </div>
          </li>

          {{#each actor.items as |item id|}}
            {{#if_eq item.type 'gear'}}

              <li class="item flexrow" data-item-id="{{item.id}}">
                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                
                <h4 style="word-wrap: break-word;" class="item-name">{{item.name}}</h4>

                <span></span> <!-- This is just here to get things to align nicely with the other sections-->
                
                <span class="equipped-item centered-item-property" data-id="{{item.id}}" title="{{localize 'DG.Tooltip.ToggleEquippedState'}}" >
                  
                  {{#if item.system.equipped}}
                    <span class="fas fa-check"></span>
                  {{else}}
                    <span class="fas fa-times"></span>
                  {{/if}}
                
                </span>

                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </li>

            {{/if_eq}}
          {{/each}}

        </ol>
      </div>
    </div>

      {{!-- About Tab --}}
      <div class="tab about" data-group="primary" data-tab="about">
        <div class="about-section-header">
          
        </div>
        <div class="flex horizontal-flex-column">
          <div>
            <a class="fas fa-question-circle" 
              title="{{localize 'DG.About.OnlineHelpTooltip'}}" 
              href="https://github.com/TheLastScrub/delta-green-foundry-vtt-system-unofficial/blob/master/documentation/home.md"> 
                {{localize 'DG.About.OnlineHelp'}}
            </a>
          </div>
          <div>
            <a class="fas fa-bug" 
              title="{{localize 'DG.About.OnlineBugTrackerTooltip'}}" 
              href="https://github.com/TheLastScrub/delta-green-foundry-vtt-system-unofficial/issues"> 
              {{localize 'DG.About.OnlineBugTracker'}}
            </a>
          </div>
          <div>
            <a class="fas fa-plus-circle" 
              title="CHANGELOG (ONLINE)" 
              href="https://github.com/TheLastScrub/delta-green-foundry-vtt-system-unofficial/blob/master/CHANGELOG.md"> 
              CHANGELOG (ONLINE)
            </a>
          </div>
          <br>
          <div>
            <span style="font-weight: bold;">This is an <span style="font-style: italic">unofficial</span> fan work, it is not affiliated with or endorsed by Shaney Ivey or Arc Dream Publishing.</span>
          </div>
          <br>
          <div>
            <span style="font-weight: bold;">Delta Green Community License (NONCOMMERCIAL)</span>
            <p>
                Published by arrangement with the Delta Green Partnership. 
                The intellectual property known as Delta Green is a trademark and copyright owned by the Delta Green Partnership, who has licensed its use here.
            </p>
            <p>
                The contents of this system are licensed per the terms of the included <a href="systems/deltagreen/LICENSE.txt">license</a> file, excepting those elements that are components of the Delta Green intellectual property.
            </p>
            <p>
              Some content may additionally also be covered under the terms of the <a href="systems/deltagreen/OGL-v1.0a.txt">Open Game License</a> (Copyright 2000 Wizards of the Coast, Inc.).
            </p>
          </div>
        </div>
      </div>

  </section>
</form>

