<form class="{{cssClass}} {{getCharacterSheetStyle}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
      
    <div class="header-fields">
      
      {{!-- Name, Profession, Portrait --}}
      <div class="flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" height="150" width="100"/>
        <div>
          <div>
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" /></h1>
          </div>
          <div class="">
            <h2 class="profession"><input name="system.shortDescription" type="text" value="{{actor.system.shortDescription}}" placeholder="{{localize 'DG.UnnaturalSheet.ShortDescriptionFallbackText'}}"/></h1>
          </div>
        </div>
      </div>
    
      <div class="resources grid grid-3col bottom-margin-5px">
        
        {{!-- HP --}}
        <div class="resource-outer-grid-1col">
            <label for="actor.system.health.value" class="resource-label" title="{{localize 'DG.Tooltip.HP'}}">{{localize 'DG.Attributes.HP'}} (<span>{{actor.system.health.protection}} <i class="fas fa-shield-alt"></i></span>)</label>
            <div class="resource-inner-grid-3col">
              <input type="text" name="system.health.value" value="{{actor.system.health.value}}" data-dtype="Number"/>
              <span> / </span>
              <input type="text" name="system.health.max" value="{{actor.system.health.max}}" data-dtype="Number"/>
            </div>
        </div>

        {{!-- WP --}}
        <div class="resource-outer-grid-1col">
            <label for="system.wp.value" class="resource-label">{{localize 'DG.Attributes.WP' }}</label>
            <div class="resource-inner-grid-3col">
              <input type="text" name="system.wp.value" value="{{actor.system.wp.value}}" data-dtype="Number"/>
              <span> / </span>
              <input type="text" name="system.wp.max" value="{{actor.system.wp.max}}" data-dtype="Number"/>
            </div>
        </div>

        {{!-- Sanity Damage --}}
        <div class="resource-outer-grid-1col">
          <label class="resource-label rollable" data-rolltype="sanity-damage">{{localize 'DG.Attributes.SAN'}} <i class="fas fa-dice"></i></label>
          <div class="resource-inner-grid-3col">
            <input type="text" name="system.sanity.successLoss" value="{{actor.system.sanity.successLoss}}" />
            <span> / </span>
            <input type="text" name="system.sanity.failedLoss" value="{{actor.system.sanity.failedLoss}}" />
          </div>
        </div>
      </div>

      

      {{!-- Physical Statistics like STR, CON, etc. --}}
      <div class="">
        <div class="horizontal-bar-section-divider">
          <span>{{localize "DG.Sheet.BlockHeaders.Statistics"}}</span>                                                    
        </div>
        <div class="grid grid-3col">
          {{#each actor.system.statistics as |statistic key|}}
            <div class="flex-group-center flex-mid-border">
              <div class="">
                <div class="physical-stats-outer-grid-3col">
                  <label class="rollable resource-label" data-rolltype="stat" data-key="{{key}}" for="system.statistics.{{key}}.value">{{localize (concat 'DG.Attributes.' key)}}</label>
                  <input type="text" name="system.statistics.{{key}}.value" value="{{statistic.value}}" data-dtype="Number"/>
                  <span class="rollable" data-rolltype="stat" data-key="{{key}}" title="{{localize 'DG.Tooltip.x5AttributeLabel'}}">({{numberFormat statistic.x5 decimals=0 sign=false}}%)</span>
                </div >
              </div>
            </div>
          {{/each}}
        </div>
      </div>

    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="skills">{{localize 'DG.UnnaturalSheet.Tabs.NotesTabLabel'}}</a>
      <a class="item" data-tab="gear">{{localize 'DG.UnnaturalSheet.Tabs.ItemsTabLabel'}}</a>
      <a class="item fas fa-question-circle" data-tab="about"></a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Descriptions/Notes/Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      <div class="horizontal-bar-section-divider contains-hide-button"> 
        <span class="contains-hide-button-title">
          {{localize "DG.Sheet.BlockHeaders.SkillsAndTraining"}}
          {{!-- Checkbox to hide/show skills that are at zero --}}
        </span>
        <a class="toggle-untrained">
          {{#if actor.system.showUntrainedSkills}}
            {{localize 'DG.UnnaturalSheet.ShowUntrainedSkillsLabel'}}
          {{else}}
            {{localize 'DG.UnnaturalSheet.HideUntrainedSkillsLabel'}}
          {{/if}}&nbsp;
          <i class="far fa-eye{{#if actor.system.showUntrainedSkills}}-slash{{/if}}"></i>
        </a>
      </div>
      <div class="grid grid-3col {{#if sortSkillsSetting}}grid-13row{{/if}}">
        {{#each actor.system.skills as |skill key|}}
          
          {{#if (hideSkillBasedOnProficiencyAndUserChoice ../actor.system.showUntrainedSkills skill.proficiency)}}
          <div class="flexrow flex-group-center flex-thin-border">
            <label class="{{if_gt skill.proficiency 0 'rollable' 'not-rollable'}} skill-label" data-rolltype="skill" data-roll="d100" data-key="{{key}}" for="system.skills.{{key}}.value" 
                {{#if skill.proficiency}}title="{{localize 'DG.Tooltip.SkillLabel'}}"{{/if}}
                {{#unless skill.proficiency}}title="{{localize 'DG.Tooltip.CannotRollSkillLabel'}}"{{/unless}}
              >
              {{localizeWithFallback (concat "DG.Skills." key) skill.label }}
            </label>
            <input class="percentile-skill-input" type="text" name="system.skills.{{key}}.proficiency" value="{{skill.proficiency}}" data-dtype="Number" {{#if skill.isCalculatedValue}} disabled {{/if}}/>
            
          </div>
          {{/if}}

        {{/each}}
      </div>
      <br>
      <div>
        {{> "systems/deltagreen/templates/actor/custom-skills-partial.html"}}
      </div>
      <br>
      <div>
        <span class="resource-label">{{localize 'DG.UnnaturalSheet.NotesLabel'}}</span>
      </div>
      <div class="unnatural-notes-section">
        <div class="editor-host">
          {{editor enrichedDescription target="system.notes" button=true owner=owner editable=editable}}
        </div>
      </div>
      
    </div>
      
    {{!-- GEAR --}}
    <div class="tab items" data-group="primary" data-tab="gear">
      {{> "systems/deltagreen/templates/actor/equipment-partial.html" }}
    </div>

      {{!-- About Tab --}}
      <div class="tab about" data-group="primary" data-tab="about">
        {{> "systems/deltagreen/templates/actor/help-and-licensing-partial.html" }}
      </div>

  </section>
</form>

