<form class="{{cssClass}} {{getCharacterSheetStyle}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        
      <div class="header-fields">
        
        {{!-- Name, Portrait --}}
        <div class="flexrow">
          <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="100"/>
          <div>
            <div>
              <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" /></h1>
            </div>
            <div class="">
              <h2 class="profession"><input name="system.shortDescription" type="text" value="{{actor.system.shortDescription}}" placeholder="{{localize 'DG.VehicleSheet.DescriptionPlaceHolder'}}" /></h1>
            </div>
          </div>
        </div>
      
        <div class="resources grid grid-3col">
          
          {{!-- HP --}}
          <div class="resource-outer-grid-1col">
              <label for="actor.system.health.value" class="resource-label" title="{{localize 'DG.Tooltip.HP'}}">{{localize 'DG.Attributes.HP'}} (<span>{{actor.system.health.protection}} <i class="fas fa-shield-alt"></i></span>)</label>
              <div class="resource-inner-grid-3col">
                <input type="text" name="system.health.value" value="{{actor.system.health.value}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="system.health.max" value="{{actor.system.health.max}}" data-dtype="Number"/>
              </div>
          </div>
        </div>
  
      </div>
    </header>
  
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="notes">{{localize 'DG.VehicleSheet.NotesTabName'}}</a>
        <a class="item" data-tab="gear">{{localize 'DG.VehicleSheet.GearTabName'}}</a>
        <a class="item fas fa-question-circle" data-tab="about"></a>
    </nav>
  
    {{!-- Sheet Body --}}
    <section class="sheet-body">
  
      {{!-- Descriptions (Notes) --}}
      <div class="tab skills top-div-border" data-group="primary" data-tab="notes">
        <div>
          <span class="resource-label">{{localize 'DG.VehicleSheet.NotesLabel'}}</span>
        </div>
        <div class="unnatural-notes-section">
          <div class="editor-host">
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
          </div>
        </div>
        
      </div>
        
      {{!-- GEAR --}}
      <div class="tab items" data-group="primary" data-tab="gear">
        
        <div>
  
          <div class="horizontal-bar-section-divider">
            <span>{{localize 'DG.Gear.Armor'}}</span>
          </div>
  
          <ol class="items-list">
            <li class="item flexrow item-header">
              <div class="item-image"></div>
              <div class="item-name">{{localize 'DG.Gear.Name'}}</div>
              <span class="centered-item-property">{{localize 'DG.Gear.ArmorRating'}}</span>
              <span class="centered-item-property">{{localize 'DG.Gear.Equipped'}}</span>
              <div class="item-controls">
                <a class="item-control item-create action-pill" title="Create item" data-type="armor"><i class="fas fa-plus"></i> {{localize 'DG.Generic.AddButtonLabel'}}</a>
              </div>
            </li>
  
            {{#each actor.items as |item id|}}
              {{#if_eq item.type 'armor'}}
  
                <li class="item flexrow" data-item-id="{{item.id}}">
                  <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                  <h4 style="word-wrap: break-word;" class="item-name">{{item.name}}</h4>
                  <span class="centered-item-property">{{item.system.protection}}</span>
                  
                  <span class="equipped-item centered-item-property" data-id="{{item.id}}" title="{{localize 'DG.Tooltip.ToggleEquippedState'}}">
                    {{#if item.system.equipped}}
                      <span class="fas fa-check"></span>
                    {{else}}
                      <span class="fas fa-times"></span>
                    {{/if}}
                  </span>
  
                  <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
                </li>
  
              {{/if_eq}}
            {{/each}}
  
          </ol>
        </div>
        <div>
  
          <div class="horizontal-bar-section-divider">
            <span>{{localize 'DG.Gear.OtherGear'}}</span>
          </div>
  
          <ol class="items-list">
            <li class="item flexrow item-header">
              <div class="item-image"></div>
              <div class="item-name">{{localize 'DG.Gear.Name'}}</div>
              <div class="item-name"></div>
              <span class="centered-item-property">{{localize 'DG.Gear.Equipped'}}</span>
              <div class="item-controls">
                <a class="item-control item-create action-pill" title="Create item" data-type="gear"><i class="fas fa-plus"></i> {{localize 'DG.Generic.AddButtonLabel'}}</a>
              </div>
            </li>
  
            {{#each actor.items as |item id|}}
              {{#if_eq item.type 'gear'}}
  
                <li class="item flexrow" data-item-id="{{item.id}}">
                  <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                  
                  <h4 style="word-wrap: break-word;" class="item-name">{{item.name}}</h4>
  
                  <span></span> <!-- This is just here to get things to align nicely with the other sections-->
                  
                  <span class="equipped-item centered-item-property" data-id="{{item.id}}" title="{{localize 'DG.Tooltip.ToggleEquippedState'}}" >
                    
                    {{#if item.system.equipped}}
                      <span class="fas fa-check"></span>
                    {{else}}
                      <span class="fas fa-times"></span>
                    {{/if}}
                  
                  </span>
  
                  <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
                </li>
  
              {{/if_eq}}
            {{/each}}
  
          </ol>
        </div>
      </div>
  
        {{!-- About Tab --}}
        <div class="tab about" data-group="primary" data-tab="about">
          {{> "systems/deltagreen/templates/actor/help-and-licensing-partial.html" }}
        </div>
  
    </section>
  </form>
  
  