<form class="{{cssClass}} {{getFontFamilySystemSettingClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'DG.ItemWindow.Weapons.NamePlaceholder'}}"/></h1>
            <div class="weapon-grid-2col">
              <div class="resource">
                <label class="resource-label">{{localize 'DG.ItemWindow.Weapons.Skill'}}</label>
                <select name="data.skill" >
                    <option {{#if_eq data.data.skill 'firearms'}}selected{{/if_eq}} value="firearms">{{localize 'DG.Skills.firearms'}}</option>
                    <option {{#if_eq data.data.skill 'melee_weapons'}}selected{{/if_eq}} value="melee_weapons">{{localize 'DG.Skills.melee_weapons'}}</option>
                    <option {{#if_eq data.data.skill 'unarmed_combat'}}selected{{/if_eq}} value="unarmed_combat">{{localize 'DG.Skills.unarmed_combat'}}</option>
                    <option {{#if_eq data.data.skill 'heavy_weapons'}}selected{{/if_eq}} value="heavy_weapons">{{localize 'DG.Skills.heavy_weapons'}}</option>
                    <option {{#if_eq data.data.skill 'athletics'}}selected{{/if_eq}} value="athletics">{{localize 'DG.Skills.athletics'}}</option>
                    <option {{#if_eq data.data.skill 'demolitions'}}selected{{/if_eq}} value="demolitions">{{localize 'DG.Skills.demolitions'}}</option>
                    <option {{#if_eq data.data.skill 'artillery'}}selected{{/if_eq}} value="artillery">{{localize 'DG.Skills.artillery'}}</option>
                </select>
              </div>
              <div class="resource">
                <label class="resource-label">{{localize 'DG.ItemWindow.Weapons.Expense'}}</label>
                <select name="data.expense" >
                  <option {{#if_eq data.data.expense 'Incidental'}}selected{{/if_eq}} value="Incidental">{{localize 'DG.Gear.Expense.Incidental'}}</option>
                  <option {{#if_eq data.data.expense 'Standard'}}selected{{/if_eq}} value="Standard">{{localize 'DG.Gear.Expense.Standard'}}</option>
                  <option {{#if_eq data.data.expense 'Unusual'}}selected{{/if_eq}} value="Unusual">{{localize 'DG.Gear.Expense.Unusual'}}</option>
                  <option {{#if_eq data.data.expense 'Major'}}selected{{/if_eq}} value="Major">{{localize 'DG.Gear.Expense.Major'}}</option>
                  <option {{#if_eq data.data.expense 'Extreme'}}selected{{/if_eq}} value="Extreme">{{localize 'DG.Gear.Expense.Extreme'}}</option>
                </select>
              </div>

              <div class="resource">
                <label class="resource-label">{{localize 'DG.ItemWindow.Weapons.IsLethality'}}: </label>
                <input class="labeled-resource-checkbox" type="checkbox" name="data.isLethal" {{checked data.data.isLethal}} data-dtype="Boolean" 
                    title="{{localize 'DG.ItemWindow.Weapons.IsLethalityTooltip'}}"
                />
              </div>

              {{#unless data.data.isLethal}}
              <div class="resource">
                <label class="resource-label">{{localize 'DG.ItemWindow.Weapons.Damage'}}</label>
                <input type="text" name="data.damage" value="{{data.data.damage}}" data-dtype="String"/>
              </div>
              {{/unless}}

              {{#if data.data.isLethal}}
              <div class="resource">
                <label class="resource-label">{{localize 'DG.ItemWindow.Weapons.Lethality'}} %</label>
                <input class="" type="text" name="data.lethality" value="{{data.data.lethality}}" data-dtype="Number"
                  title="{{localize 'DG.ItemWindow.Weapons.LethalityTooltip'}}"
                />
              </div>
              {{/if}}

              <div class="resource">
                <label class="resource-label">{{localize 'DG.ItemWindow.Weapons.ArmorPiercing'}}</label>
                <input type="text" name="data.armorPiercing" value="{{data.data.armorPiercing}}" data-dtype="Number"/>
              </div>

              <div class="resource">
                <label class="resource-label">{{localize 'DG.ItemWindow.Weapons.Ammo'}}</label>
                <input type="text" name="data.ammo" value="{{data.data.ammo}}" data-dtype="String"/>
              </div>

              <div class="resource">
                <label class="resource-label">{{localize 'DG.ItemWindow.Weapons.Range'}}</label>
                <input type="text" name="data.range" value="{{data.data.range}}" data-dtype="String"/>
              </div>

              <div class="resource">
                <label class="resource-label">{{localize 'DG.ItemWindow.Weapons.KillRadius'}}</label>
                <input type="text" name="data.killRadius" value="{{data.data.killRadius}}" data-dtype="String"/>
              </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize 'DG.ItemWindow.Weapons.Description'}}</a>
        
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
