<form class="{{cssClass}} {{getFontFamilySystemSettingClass}}" autocomplete="off">
    
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item item-toggle" data-tab="attributes">{{localize 'DG.ItemWindow.Motivations.Attributes'}}</a>
        <a class="item" data-tab="description">{{localize 'DG.ItemWindow.Motivations.Description'}}</a>
    </nav>

    {{!-- Sheet Body motivation-sheet-horizontal-grid-2col --}}
    <section class="sheet-body">

        <div class="tab attributes" data-group="primary" data-tab="attributes">
            
            <div class="motivation-sheet-horizontal-grid-2col">
                <span class="resource-label">{{localize 'DG.ItemWindow.Motivations.IsDisorder'}}:</span>
                <input type="checkbox" name="data.crossedOut" {{checked data.data.crossedOut}} data-dtype="Boolean" 
                    title="{{localize 'DG.ItemWindow.Motivations.IsDisorderTooltip'}}"
                />
           

            
                <span class="resource-label">{{localize 'DG.ItemWindow.Motivations.Motivation'}}:</span>
                <input type="text" name="name" value="{{item.name}}" placeholder="" data-dtype="String"
                    
                     title="{{localize 'DG.ItemWindow.Motivations.MotivationNameTooltip'}}"
                    
                    {{!-- If a motivation has been crossed off after a breaking point, do a strikeout on it and disable it. --}}
                    {{#if data.data.crossedOut}}
                        style="text-decoration: line-through;"
                        disabled
                    {{/if}}
                />
            

            {{!-- Only Show the Disorders Section if Motivation Lost Checked --}}
            {{#if data.data.crossedOut}}
            
                <span class="resource-label">{{localize 'DG.ItemWindow.Motivations.Disorder'}}:</span>
                <input type="text" name="data.disorder" value="{{data.data.disorder}}" data-dtype="String"
                    
                    title="{{localize 'DG.ItemWindow.Motivations.DisorderNameTooltip'}}"
                />
            
            
                <span class="resource-label">{{localize 'DG.ItemWindow.Motivations.DisorderHasBeenCured'}}: </span>
                <input class="labeled-resource-checkbox" type="checkbox" name="data.disorderCured" {{checked data.data.disorderCured}} data-dtype="Boolean" 
                    title="{{localize 'DG.ItemWindow.Motivations.DisorderHasBeenCuredTooltip'}}"
                />
            

            {{/if}}
            
            </div>
        </div>

        <div class="tab attributes" data-group="primary" data-tab="description">
            {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
        
    </section>
    
</form>
