<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="grid grid-2col">
              <div class="resource">
                <label class="resource-label">Skill</label>
                <select name="data.skill" >
                    <option {{#if_eq data.skill 'firearms'}}selected{{/if_eq}} value="firearms">Firearms</option>
                    <option {{#if_eq data.skill 'melee_weapons'}}selected{{/if_eq}} value="melee_weapons">Melee Weapons</option>
                    <option {{#if_eq data.skill 'unarmed_combat'}}selected{{/if_eq}} value="unarmed_combat">Unarmed Combat</option>
                    <option {{#if_eq data.skill 'heavy_weapons'}}selected{{/if_eq}} value="heavy_weapons">Heavy Weapons</option>
                    <option {{#if_eq data.skill 'athletics'}}selected{{/if_eq}} value="athletics">Athletics</option>
                    <option {{#if_eq data.skill 'demolitions'}}selected{{/if_eq}} value="demolitions">Demolitions</option>
                    <option {{#if_eq data.skill 'artillery'}}selected{{/if_eq}} value="artillery">Artillery</option>
                </select>
              </div>
              <div class="resource">
                <label class="resource-label">Expense</label>
                <select name="data.expense" >
                    <option {{#if_eq data.expense 'Incidental'}}selected{{/if_eq}} value="Incidental">Incidental</option>
                    <option {{#if_eq data.expense 'Standard'}}selected{{/if_eq}} value="Standard">Standard</option>
                    <option {{#if_eq data.expense 'Unusual'}}selected{{/if_eq}} value="Unusual">Unusual</option>
                    <option {{#if_eq data.expense 'Major'}}selected{{/if_eq}} value="Major">Major</option>
                    <option {{#if_eq data.expense 'Extreme'}}selected{{/if_eq}} value="Extreme">Extreme</option>
                </select>
              </div>
              <div class="resource">
                <label class="resource-label">Damage</label>
                <input type="text" name="data.damage" value="{{data.damage}}" data-dtype="String"/>
              </div>
              <div class="resource">
                <label class="resource-label">Lethality %</label>
                <input type="text" name="data.lethality" value="{{data.lethality}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="resource-label">Armor Piercing</label>
                <input type="text" name="data.armorPiercing" value="{{data.armorPiercing}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="resource-label">Ammo</label>
                <input type="text" name="data.ammo" value="{{data.ammo}}" data-dtype="Number"/>
              </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
