<form class="{{cssClass}}" autocomplete="off">
    
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item item-toggle" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="description">Description/Notes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab attributes" data-group="primary" data-tab="attributes">
            
            <div class="motivation-section">
                <label class="resource-label">Is Disorder: </label>
                <input class="labeled-resource-checkbox" type="checkbox" name="data.crossedOut" {{checked data.crossedOut}} data-dtype="Boolean" 
                    title="Check this if adding a disorder, or if an existing motivation has been lost due to gaining a disorder."
                />
            </div>

            <div class="resource">
                <label class="resource-label">Motivation</label>
                <input type="text" name="name" value="{{item.name}}" placeholder="" data-dtype="String"
                    
                     title="Something that drives the character."
                    
                    {{!-- If a motivation has been crossed off after a breaking point, do a strikeout on it and disable it. --}}
                    {{#if data.crossedOut}}
                        style="text-decoration: line-through;"
                        disabled
                    {{/if}}
                />
            </div>

            {{!-- Only Show the Disorders Section if Motivation Lost Checked --}}
            {{#if data.crossedOut}}
            
            <div class="resource">
                <label class="resource-label">Disorder</label>
                <input type="text" name="data.disorder" value="{{data.disorder}}" data-dtype="String"
                    
                    title="A disorder replaces a motivation after hitting a break point."
                />
            </div>
            <div class="motivation-section">
                <label class="resource-label">Disorder Has Been "Cured": </label>
                <input class="" type="checkbox" name="data.disorderCured" {{checked data.disorderCured}} data-dtype="Boolean" 
                    title="A critical success on a therapy luck roll can cure a disorder.  It may return the next time a breaking point is hit however."
                />
            </div>

            {{/if}}
            
        </div>

        <div class="tab attributes" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
        
    </section>
    
</form>
