<form class="{{cssClass}} {{getFontFamilySystemSettingClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="bond-sheet-grid-2col">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            <div class="bond-sheet-horizontal-grid-2col">

                <span class="resource-label">{{localize 'DG.Bonds.Name'}}:</span>
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'DG.Bonds.Name'}}" />
                                
                <!-- <label class="resource-label">{{localize 'DG.Bonds.Score'}}</label> -->
                <span class="resource-label">{{localize 'DG.Bonds.Score'}}:</span>
                <input type="text" name="data.score" value="{{data.data.score}}" data-dtype="Number"
                    title="{{localize 'DG.ItemWindow.Bonds.ScoreTooltip'}}"
                />            
            
                <span class="resource-label">{{localize 'DG.Bonds.Relationship'}}:</span>
                <input type="text" name="data.relationship" value="{{data.data.relationship}}" data-dtype="String" />
                
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize 'DG.ItemWindow.Bonds.Description'}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
