<form class="{{cssClass}} {{getCharacterSheetStyle}}" autocomplete="off">
    <header class="">
        <div class="gear-sheet-grid-2col">
            <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/> 
            
            <div class="tome-sheet-horizontal-grid-2col">                
                {{#if item.system.revealed}}
                    <span class="resource-label">
                        {{#if (playerHasGamemasterPrivileges)}}<a class="tome-show-hide-info"><i class="far fa-eye"></i></a>{{/if}}
                        {{localize 'DG.Tome.Name'}}:
                    </span>
                    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'DG.ItemWindow.Tome.NamePlaceholder'}}"/>

                    <span class="resource-label">{{localize 'DG.ItemWindow.Ritual.StudyTime'}}:</span>
                    <input name="system.studyTime" type="text" value="{{item.system.studyTime}}" placeholder="{{localize 'DG.ItemWindow.Tome.StudyTime'}}"/>

                    <span class="resource-label">{{localize 'DG.ItemWindow.Ritual.ActivationTime'}}:</span>
                    <input name="system.activationTime" type="text" value="{{item.system.activationTime}}" placeholder="{{localize 'DG.ItemWindow.Ritual.ActivationTime'}}"/>

                    <span class="resource-label">{{localize 'DG.ItemWindow.Ritual.ActivationCosts'}}:</span>
                    <input name="system.activationCosts" type="text" value="{{item.system.activationCosts}}" placeholder="{{localize 'DG.ItemWindow.Ritual.ActivationCosts'}}"/>
                {{else}}
                    {{#if (playerHasGamemasterPrivileges)}}
                        <span class="resource-label">
                            {{#if (playerHasGamemasterPrivileges)}}<a class="tome-show-hide-info"><i class="far fa-eye-slash"></i></a>{{/if}}
                            {{localize 'DG.Tome.Name'}}:
                        </span>
                        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'DG.ItemWindow.Tome.NamePlaceholder'}}"/>

                        <span class="resource-label">{{localize 'DG.ItemWindow.Ritual.StudyTime'}}:</span>
                        <input name="system.studyTime" type="text" value="{{item.system.studyTime}}" placeholder="{{localize 'DG.ItemWindow.Tome.StudyTime'}}"/>

                        <span class="resource-label">{{localize 'DG.ItemWindow.Ritual.ActivationTime'}}:</span>
                        <input name="system.activationTime" type="text" value="{{item.system.activationTime}}" placeholder="{{localize 'DG.ItemWindow.Ritual.ActivationTime'}}"/>

                        <span class="resource-label">{{localize 'DG.ItemWindow.Ritual.ActivationCosts'}}:</span>
                        <input name="system.activationCosts" type="text" value="{{item.system.activationCosts}}" placeholder="{{localize 'DG.ItemWindow.Ritual.ActivationCosts'}}"/>
                    {{else}}
                        <span class="resource-label">
                            {{#if (playerHasGamemasterPrivileges)}}<a class="tome-show-hide-info"><i class="far fa-eye-slash"></i></a>{{/if}}
                            {{localize 'DG.Tome.Name'}}:
                        </span>
                        <span>???</span>

                        <span class="resource-label">{{localize 'DG.ItemWindow.Ritual.StudyTime'}}:</span>
                        <span>???</span>

                        <span class="resource-label">{{localize 'DG.ItemWindow.Ritual.ActivationTime'}}:</span>
                        <span>???</span>

                        <span class="resource-label">{{localize 'DG.ItemWindow.Ritual.ActivationCosts'}}:</span>
                        <span>???</span>
                    {{/if}}
                {{/if}}
            </div>
            
        </div>
        
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize 'DG.ItemWindow.Tome.Description'}}</a>
        {{#if (playerHasGamemasterPrivileges)}}
        <a class="item" data-tab="handler">{{localize 'DG.ItemWindow.Tome.HandlerOnlyTabHeader'}}</a>
        {{/if}}       
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab top-div-border" data-group="primary" data-tab="description">
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Handler Notes Tab --}}
        {{#if (playerHasGamemasterPrivileges)}}
        <div class="tab" data-group="primary" data-tab="handler">
            <div class="tome-sheet-handler-info-horizontal-grid-2col"> 
                <span class="resource-label">{{localize 'DG.ItemWindow.Tome.UnnaturalIncrease'}}:</span>
                <input class="item-sheet-short-input" name="system.unnaturalSkillIncrease" type="text" value="{{item.system.unnaturalSkillIncrease}}" type="integer" data-dtype="Number"/>

                <span class="resource-label">{{localize 'DG.ItemWindow.Ritual.ActivationSanityDamage'}}:</span>
                <span>
                    <input class="item-sheet-short-input" name="system.sanity.successLoss" type="text" value="{{item.system.sanity.successLoss}}" type="text" />
                    /
                    <input class="item-sheet-short-input" name="system.sanity.failedLoss" type="text" value="{{item.system.sanity.failedLoss}}" type="text" />
                    <i class="fas fa-dice rollable" data-rolltype="sanity-damage"></i>            
                </span>
            </div>

            <span class="resource-label">{{localize 'DG.ItemWindow.Tome.HandlerNotes'}}:</span>
        
            <div class="tab top-div-border">
                {{editor enrichedHandlerNotes target="system.handlerNotes" button=true owner=owner editable=editable}}
            </div>            
        </div>   
        {{/if}}      
    </section>
</form>
